body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    background-color: #0095A7;
    color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
}

#contenedor {
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    padding: 3px 10px;
}

button {
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #B2DFE5;
    margin-left: 15px;
}

.Titulo {
    margin-top: 3%;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 0% 0% 2% 0%;
}

#contenedor2 {
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5% 5%;
    background-image:
        linear-gradient( rgba(0, 0, 0, 1), rgba(11, 93, 103, 0.8)),
        url('resources/gimnasio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#ubicaciones {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #B2DFE5;
    padding: 5%;
    color: #000000;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 20px;
}

#ubicaciones2 {
    padding: 5%;
    grid-column-start: 2;
    grid-column-end: 3;
}

iframe {
    border-radius: 20px;
}

#ubicaciones h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.5em;
}

.ubicacion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    line-height: 1.8;
}

.ubicacion-item p {
    margin: 0;
    flex-grow: 1;
}

.boton {
    border-radius: 5px;
    background-color: #3E9099;
}

#planes {
    text-align: justify;
    font-size: large;
    padding: 2% 5% 0% 5%;
    color: white;
    background-color: black;
    background-image:
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)),
        url('resources/gimnasio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 5%;
}

#planes h1 {
    text-align: center;
    margin-bottom: 5%;
}

.precio {
    font-weight: bold;
    font-size: larger;
}

.precio {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 8px;
    font-weight: bold;
}

#planes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    width: 100%;
}

.plan {
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    background-color: #FFFFFF33;
}

#descripcion {
    background-color: #0B5D67;
    padding: 1% 10% 3% 10%;
    text-align: justify;
    color: white;
    font-size: x-large;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0;
}